body {
  height: 100vh;
    
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

svg {
  overflow: visible;
}

svg path#line {
  fill: none;
  stroke: #e00000;
  stroke-width: 2;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation-iteration-count: 1;
  animation: dash 5s;
  animation-fill-mode: both;
}

svg path#heart {
  transform-origin: 50% 50%;
  animation: blink 2s linear infinite;
}
@keyframes dash {
  0% { stroke-dashoffset: 1; }
  80% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: 0; }
}

@keyframes blink {
  0%, 60% { opacity: 0; transform: scale(0); fill: #a00000;}
  70% { opacity: 1; transform: scale(1.2); fill:#a00000;}
  75%, 85% { transform: scale(1.0);fill: #a00000;}
  100% { opacity: 0; fill:#a00000;}
  
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e00000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a00000;
}

.next-screen {
  position: absolute;
  top: 0;
  left: 100%; /* Start off-screen */
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
}

.hidden {
  left: 100%; /* Hidden off-screen */
}

.show {
  left: 0; /* Move into view */
}
